.card-view-wrapper {
    border-radius: 5px;
    margin: 24px 0;
    background-color: #f1f1f133;
    border: 0.5px solid #DBDBDB;
    color: #444;
    clear: both;
    display: block;
}

.header-content {
    background-color: #134c7e;
    color: #fafafa;
    border-radius: 5px 5px 0 0;
    font-size: 16px;
    font-size: 1.6rem;
    padding: 8px 16px;
    display: block;
}

div {
    display: block;
}

ul {
    padding-right: 20px;
    list-style-type:none;
}

button {
    margin: 24px 0;
    display: block;
    width: 30%;
}
